{% macro render_book(book) %}
<div class="card h-100 shadow-sm border-0" style="border-radius: 12px; background-color: #ffffff; overflow: hidden;">
  
  <div style="height: 200px; overflow: hidden; width: 100%;">
    <img src="{{ url_for('static', filename='uploads/' + book.img) if book.img else url_for('static', filename='uploads/default.jpg') }}" 
         class="w-100 h-100" 
         style="object-fit: cover;" 
         alt="book image">
  </div>

  <div class="card-body p-2 d-flex flex-column justify-content-between" style="font-size: 14px;">
    <div>
      <h6 class="fw-bold text-dark mb-1 text-truncate">{{ book.title }}</h6>
      <p class="text-muted mb-0" style="font-size: 13px;">სტატუსი: <span class="text-dark">{{ book.status }}</span></p>
      <p class="text-muted mb-2" style="font-size: 13px;">კატეგორია: <span class="text-dark">{{ book.category }}</span></p>
     <p class="text-muted mb-0" style="font-size: 13px;">ატვირთვის დრო: 
    <span class="text-dark">
            {{ book.action_time.strftime('%Y-%m-%d %H:%M') }}

    </span>
</p>
</div>

    <div class="d-flex gap-1 justify-content-between mt-auto">

      <a href="{{ url_for('boo.book_detail',id=book.id) }}" class="btn btn-secondary btn-sm py-1 flex-grow-1">
        ნახვა
        
      </a>
      
   

      {% if book.category != 'completed' %}
        {% if current_user.is_authenticated and current_user.id == book.user_id %}

          <a href="{{ url_for('boo.update', id=book.id) }}"
             class="btn btn-warning btn-sm py-1 flex-grow-1 text-dark">
             შეცვლა
          </a>

          <a href="{{ url_for('boo.delete', id=book.id) }}"
             class="btn btn-danger btn-sm py-1 flex-grow-1">
             წაშლა
          </a>

          <a href="{{ url_for('boo.complete', id=book.id) }}"
             class="btn btn-danger btn-sm py-1 flex-grow-1">
             დასრულება
          </a>

        {% endif %}
      {% endif %}

    </div>
  </div>

</div>
{% endmacro %}